body {
    font-family: Arial, sans-serif;
    background-color: #E3F4F4;
    margin: 0;
    padding: 0;
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D2E9E9;
    padding: 0.6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #F8F6F4;
}

.login-button {
    background-color: #D2E9E9;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #E3F4F4;
}

footer {
    text-align: center;
    font-family: Arial;
}

.donation-form {
    width: 90%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 30px;
}

.steps {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.step {
    width: 30px;
    height: 30px;
    background-color: #d3d3d3;
    color: blackss;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 0 5px;
}
.step.active {
    background-color: black;
}

.donation-options {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.donation-options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.donation-options input[type="radio"] {
    display: none;
}
.donation-options span {
    padding: 1rem;
    border: 2px solid #d3d3d3;
    border-radius: 8px;
    transition: 0.3s;
}
.donation-options input[type="radio"]:checked + span {
    border-color: #C4DFDF;
    background-color: #e8f5e9;
    color: black;
}

/* Botón de donación */
.donate-button {
    background-color: #D2E9E9;
    color: black;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.donate-button:hover {
    background-color: #E3F4F4;
}

/* Nota de donación */
.donation-note {
    font-size: 0.9rem;
    color: black;
    margin-top: 1rem;
}

.donation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh; /* Altura mínima para centrar en el viewport */
    padding-top: 20px;
}
