
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D2E9E9;
    padding: 0.6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #F8F6F4;
}

.login-button {
    background-color: #D2E9E9;
    color: white;
    border: none;
    padding:  8px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #E3F4F4;
}


.welcome-section {
    background-image: url('Img/fondo.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 100px 20px;
    color: white;
}

.welcome-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
}

.welcome-section h1 {
    font-size: 2.5em;
    margin: 0 0 10px;
}

.welcome-section p {
    font-size: 1.2em;
    margin: 0 0 20px;
}

.contact-button {
    background-color: #D2E9E9;
    color: black;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
}

.contact-button:hover {
    background-color: #E3F4F4;
}
footer{
    text-align: center;
}