
body {
    font-family: Arial, sans-serif;
    background-color: #E3F4F4;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D2E9E9;
    padding: 0.6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #F8F6F4;
}

.login {
    background-color: #D2E9E9;
    color: white;
    border: none;
    padding:  8px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.login:hover {
    background-color: #E3F4F4;
}


.Seccion {
    background-image: url('Img/fondo.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 100px 20px;
    color: white;
}

.Bienvenidos {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
}

.Seccion h1 {
    font-size: 2.5em;
    margin: 0 0 10px;
}

.Seccion p {
    font-size: 1.2em;
    margin: 0 0 20px;
}

.Contacto {
    background-color: #D2E9E9;
    color: black;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
}

.Contacto:hover {
    background-color: #E3F4F4;
}
footer{
    text-align: center;
}

.sEstadisticas {
    padding: 20px 35px;
    
}

.Contenedor {
    display: flex;
    justify-content: center; 
    gap: 2cm;
    text-align: center;
}

.Estadistica {
    
    padding: 30px 50px;
    
}

.Digito {
    font-size: 1.5cm; 
    font-weight: bold; 
    color: black;
    margin: 0;
}

.Texto {
    font-size: 0.5cm; 
    color: black;
    margin: 0;
}

/* Estilo para la sección "Sobre Nosotros" */
.SobreNosotros {
    max-width: 1320px;
    margin: 30px auto;
    padding: 20px;
    
    border-radius: 12px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
}


.SobreNosotros h2 {
    font-size: 1.4cm;
    color: black;
    text-align: center;
    
    font-family: 'Arial', sans-serif;
}

.SobreNosotros p {
    padding: 20px;
    color: black;
    font-size: 0.5cm;
    line-height: 1.6;
    text-align: justify;
    
    font-family: 'Arial', sans-serif;
}


